dask==2025.3.0
dask_jobqueue==0.9.0
gitpython==3.1.44
graphix @ git+https://github.com/thierry-martinez/graphix@gospel
matplotlib==3.10.0
mypy==1.15.0
pre-commit==4.1.0
pylatexenc==2.10
pytest==8.3.4
qiskit==1.3.2
qiskit_aer==0.16.1
ruff==0.9.6
scipy-stubs==1.15.2
seaborn==0.13.2
stim==1.14.0
tqdm==4.67.1
typer==0.15.1
types-networkx==3.4.2.20241227
veriphix @ git+https://github.com/qat-inria/veriphix@gospel
